body{
    font-family:sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;

}
header{
    justify-content: space-between;
    min-height: 60px;
    background-color: rgb(94, 40, 4);
    padding: 10px;
    text-align: center;
}
header h2, puerto-depalos{
    font-size: 50px !important;
font-family: Georgia, 'Times New Roman', Times, serif !important;
}

logo{
    display: flex;
    align-items:center;
}
.logo img{
    height: 60px;
    margin-right: 10px;
    
}
nav a{
    font-weight: 600;
    padding-right: 10px;
    justify-content: center;
}
nav a:hover{
    color: rgb(214, 130, 26);
}
@media (max-width: 700px){
    header{
        flex-direction: column;
        align-items: center;
    }
    nav{
        padding: 10px;
        margin-top: 10px;
    }
}

.fondo-cafeteria {
    background-image: url('ima.jpg'); /* Reemplaza con tu imagen */
  background-size: cover;      /* Cubre todo sin deformar */
  background-position: center; /* Centrada */
  background-repeat: no-repeat;/* Que no se repita */
  height: 600px;               /* Sin altura no se ve */
  
  /* Para centrar el texto */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: rgb(202, 136, 60);
}
section section{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 20px;

}
section img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
}
footer{
    background-color: rgb(94, 40, 4);
    color: white;
    text-align: center;
    padding: 10px;
}