/* Fondo general marrón clarito*/

body {
    background-color: #f5eadf;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
/* Barra de navegación Booststrap*/
.navbar {
    background-color: rgb(94,40,4) !important;
    padding-top: 20px;
    padding-bottom: 20px;
}
/*Puerto de Palos*/
.navbar-brand {
    color: black;
    font-weight: bold;
    font-size: 40px;
}

/*Inicio Servicios Menu Contacto*/
.navbar-light .navbar-nav  .nav-link{
    color: black;
    font-weight: bold;
    font-size: 22px;
    margin-left: 25px;
}
/*Hover menu*/
.navbar-light .navbar-nav  .nav-link:hover{
    color:#ffc107;
}
/* Imagen principal centrada*/
.img-principal {
    display: block;
    margin: 30px auto;
    max-width: 900px;
    height: auto;
    width: 80%;
    border-radius: 12px;
}
/*Título de contacto*/
h1 {
    color:black;
    font-weight: bold;
}
/* Formulario de contacto*/
.formulario-contacto {
    background-color: white;
    padding: 25px;
    border-radius: 12px;
}
/* Bordes de los inputs del formulario*/
.form-control {
    border: 1px solid rgb(94, 40, 4);
}
/* Cuando hacés click en los inputs*/
.form-control:focus {
    border-color: rgb(94, 40, 4);
    box-shadow: 0 0 0 0.2rem rgba(94, 40, 4, 0.25);
}
/*Botón enviar*/
.btn-warning {
    background-color: rgb(94, 40, 4);
    border-color: rgb(94, 40, 4);
    color: white;
}
/* Botón enviar al pasar el mouse*/
.btn-warning:hover {
    background-color: rgb(120, 55, 10);
    border-color: rgb(120, 55, 10);
}
/* Caja de información de contacto*/
.info-contacto {
    background-color: white;
    padding: 25px;
    border-radius: 12px;
}
/* Imagen del footer centrada */
.img-footer{
display:block;
width:60%;
max-width:800px;
margin:25px auto;
border-radius:12px;
}
/*footer*/
footer{
background-color: rgb(94,40,4);
padding:30px 0;
text-align:center;
}

.footer-content p{
color:black;
font-size:20px;
font-weight:bold;
}

footer a{
color:black;
text-decoration:none;
margin:0 15px;
font-weight:bold;
}

footer a:hover{
color:#ffc107;;
}

